global:
  convoy:
    # -- Docker image tags for all convoy services
    image: &image "docker.cloudsmith.io/convoy/convoy/frain-dev/convoy"
    tag: &tag "v23.05.5"

  externalDatabase:
    # -- Enable external database, This will use postgresql chart, Change values if you use an external database
    enabled: &postgresEnabled true
    # -- Host for the external database
    host: "postgresql"
    # -- Password for the external database
    postgresPassword: &postgresPassword "postgres"
    # -- Database name for the external database
    database: &postgresDatabase "convoy"
    # -- Username for the external database
    password: &userPassword "postgres"
    # -- Username for the external database
    username: &username "postgres"
    # -- scheme for the external database. This is postgres by default
    scheme: "postgres"
    # -- Query params for the external database
    options: &options "sslmode=disable&connect_timeout=30"
    # -- Port for the external database
    port: 5432

  nativeRedis:
    # -- Enable redis, This will use redis chart, Disable if you use an external redis
    enabled: &redisEnabled true
    # -- Host for the redis
    host: "redis-master"
    # -- password for the redis.
    password: &redisPassword "convoy"
    # -- Port for the redis
    port: 6379

  externalRedis:
    # -- Enable external redis, Enable this if you use an external redis and disable Native redis
    enabled: false
    # -- Host for the external redis
    host: ""
    # -- scheme for the external redis. This can be redis, rediss, redis-socket or redis-sentinel
    scheme: ""
    # -- username for the external redis.
    username: ""
    # -- password for the external redis.
    password: ""
    # -- Database name for the external redis.
    database: ""
    # -- Port for the external redis
    port: ""

# @ignored
postgresql:
  enabled: *postgresEnabled
  fullnameOverride: "postgresql"
  global:
    postgresql:
      auth:
        postgresPassword: *postgresPassword
        username: *username
        password: *userPassword
        database: *postgresDatabase


# @ignored
redis:
  architecture: standalone
  fullnameOverride: "redis"
  auth:
    enabled: *redisEnabled
    password: *redisPassword



worker:
  image:
    # -- Repository to be used by the worker. Latest tag is used by default
    repository: *image
    # -- Pull policy for the worker image
    pullPolicy: IfNotPresent
    # @ignored
    tag: *tag

  env:
    proxy: ""
    log_level: "debug"
    smtp:
      enabled: true
      from: ""
      password: ""
      port: 0
      provider: ""
      url: ""
      username: ""
    tracer:
      enabled: false
      app_name: ""
      config_enabled: true
      distributed_tracer_enabled: true
      license_key: ""
      type: ""

  ingress:
    # -- Enable ingress for the worker
    enabled: false

  service:
    # -- Type of service for the worker
    type: ClusterIP
    # -- Port for the worker service
    port: 80

  autoscaling:
    # -- Enable autoscaling for the worker
    enabled: true
    minReplicas: 1
    maxReplicas: 10
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 80


ingest:
  image:
    # -- Repository to be used by the worker. Latest tag is used by default
    repository: *image
    # -- Pull policy for the worker image
    pullPolicy: IfNotPresent
    # @ignored
    tag: *tag

  ingress:
    # -- Enable ingress for the worker
    enabled: false

  env:
    interval: 60
    tracer:
      enabled: false
      app_name: ""
      config_enabled: true
      distributed_tracer_enabled: true
      license_key: ""
      type: ""

  service:
    # -- Type of service for the worker
    type: ClusterIP
    # -- Port for the worker service
    port: 80

  autoscaling:
    # -- Enable autoscaling for the worker
    enabled: true
    minReplicas: 1
    maxReplicas: 10
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 80


stream:
  image:
    # -- Repository to be used by the stream. Latest tag is used by default
    repository: *image
    # -- Pull policy for the stream image
    pullPolicy: IfNotPresent
    # @ignored
    tag: *tag

  env:
    tracer:
      enabled: false
      app_name: ""
      config_enabled: true
      distributed_tracer_enabled: true
      license_key: ""
      type: ""

  ingress:
    # -- Enable ingress for the stream
    enabled: false

  service:
    # -- Type of service for the stream
    type: ClusterIP
    # -- Port for the stream service
    port: 80

  autoscaling:
    # -- Enable autoscaling for the stream
    enabled: false
    #    minReplicas: 1
    #    maxReplicas: 10
    #    targetCPUUtilizationPercentage: 80
    #    targetMemoryUtilizationPercentage: 80


server:
  image:
    # -- Repository to be used by the server. Latest tag is used by default
    repository: *image
    # -- Pull policy for the server image
    pullPolicy: IfNotPresent
    # @ignored
    tag: *tag

  env:
    log_level: "debug"
    environment: "production"
    host: "your-host-name"
    auth:
      jwt:
        enabled: true
      native:
        enabled: true
    search:
      enabled: false
      type: ""
      api_key: ""
      host: ""
    tracer:
      enabled: false
      app_name: ""
      config_enabled: true
      distributed_tracer_enabled: true
      license_key: ""
      type: ""

  ingress:
    # -- Enable ingress for the server
    enabled: false

  service:
    # -- Type of service for the server
    type: ClusterIP
    # -- Port for the server service
    port: 80

  autoscaling:
    # -- Enable autoscaling for the server
    enabled: true
    minReplicas: 1
    maxReplicas: 10
    targetCPUUtilizationPercentage: 80
    targetMemoryUtilizationPercentage: 80

scheduler:
  image:
    # -- Repository to be used by the scheduler. Latest tag is used by default
    repository: *image
    # -- Pull policy for the scheduler image
    pullPolicy: IfNotPresent
    # @ignored
    tag: *tag

migrate:
  image:
    # -- Repository to be used by to migrate. Latest tag is used by default. it will install before any other services.
    repository: *image
    # -- Pull policy for the migrate image
    pullPolicy: IfNotPresent
    # @ignored
    tag: *tag
