# Default values for convoy ingest.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

app:
  replicaCount: 1
  port: 5006
  resources:
    limits:
      cpu: 500m
      memory: 600Mi
    requests:
      cpu: 400m
      memory: 500Mi

env:
  log_level: "debug"
  interval: 500
  tracer:
    enabled: false
    app_name: ""
    config_enabled: true
    distributed_tracer_enabled: true
    license_key: ""
    type: ""

image:
  repository: docker.cloudsmith.io/convoy/convoy/frain-dev/convoy
  pullPolicy: Always
  tag: v23.05.3

nameOverride: "convoy-ingest"
fullNameOverride: "convoy-ingest"

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80
