# Default values for convoy ingest.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

enabled: true
app:
  replicaCount: 1
  port: 5009
  # It's generally advisable not to set default resource limits,
  # allowing users to make intentional decisions based on their specific needs.
  # This approach also helps ensure that the chart can run in environments
  # with limited resources, like Minikube, KinD, etc. If you do wish to define resource limits,
  # uncomment the lines below, adjust them as needed, and remove the curly braces after 'resources:'.
  resources: {}
    # limits:
    #   cpu: 1000m
    #   memory: 2000Mi
    # requests:
    #   cpu: 1000m
    #   memory: 1000Mi
  podAnnotations:
    prometheus.io/scrape: "true"
    prometheus.io/path: /metrics
    prometheus.io/port: "{{ .Values.app.port }}"

env:
  environment: ""
  log_level: "error"
  interval: 500
  tracer:
    enabled: false
    app_name: ""
    config_enabled: true
    distributed_tracer_enabled: true
    license_key: ""
    type: ""

image:
  repository: docker.cloudsmith.io/convoy/convoy/frain-dev/convoy
  pullPolicy: Always
  tag: v23.05.3

nameOverride: "convoy-ingest"
fullNameOverride: "convoy-ingest"

service:
  type: ClusterIP
  port: 80

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

# Pod disruption budget
podDisruptionBudget: {}
#  maxUnavailable: 1
#  minAvailable: 1

nodeSelector: {}
tolerations: []
affinity: {}
