# Default values for convoy worker.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

app:
  replicaCount: 1
  port: 5006
  # It's generally advisable not to set default resource limits,
  # allowing users to make intentional decisions based on their specific needs.
  # This approach also helps ensure that the chart can run in environments
  # with limited resources, like Minikube, KinD, etc. If you do wish to define resource limits,
  # uncomment the lines below, adjust them as needed, and remove the curly braces after 'resources:'.
  resources: {}
    # limits:
    #   cpu: 1000m
    #   memory: 2000Mi
    # requests:
    #   cpu: 1000m
    #   memory: 1000Mi
  podAnnotations:
    prometheus.io/scrape: "true"
    prometheus.io/path: /metrics
    prometheus.io/port: "{{ .Values.app.port }}"

env:
  sign_up_enabled: false
  environment: ""
  proxy: ""
  log_level: "error"
  smtp:
    enabled: true
    from: ""
    password: ""
    port: 0
    provider: ""
    url: ""
    username: ""
  tracer:
    enabled: false
    app_name: ""
    config_enabled: true
    distributed_tracer_enabled: true
    license_key: ""
    type: ""
  storage:
    enabled: false
    type: ""
    on_prem:
      path: ""
    s3:
      bucket: ""
      accessKey: ""
      secretKey: ""
      region: ""
      session_token: ""
      endpoint: ""

image:
  repository: docker.cloudsmith.io/convoy/convoy/frain-dev/convoy
  pullPolicy: Always
  tag: v23.05.3

nameOverride: "convoy-worker"
fullNameOverride: "convoy-worker"

service:
  type: ClusterIP
  port: 80

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

# Pod disruption budget
podDisruptionBudget: {}
#  maxUnavailable: 1
#  minAvailable: 1

nodeSelector: {}
tolerations: []
affinity: {}
